<div class="container service-container" ng-controller="ServiceController">
  <div class="row">

    <div class="col-12">
      <h1 class="text-center">{{title}}</h1>
    </div>

    <div *ngFor="let service of services" class="services col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center"><br>
      <img style="height: 80px; width: 80px" class="logo-size" [src]="service.logo">
      <h3>{{service.serviceTitle}}</h3>
      <p style="text-align: justify">{{service.description}}</p>
    </div>

  </div>
</div><br>