<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12   col-lg-6 col-xl-6">
      <h1 class="text-center">{{title}}</h1>
      <p class="about" style="text-align: justify">{{description}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img style="height: 100%; width: 100%" src="assets/img/about.png">
    </div>

  </div><br><br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center">
      <img style="height: 80px; width: 80px" class="logo-size" src="assets/img/service_logo/1207838.svg">
      <h1 class="text-center">{{mision.title}}</h1>
      <p class="about" style="text-align: justify">{{mision.description}}</p>
    </div>
    <div class="col-sm-12 col-md-12   col-lg-6 col-xl-6 text-center">
      <img style="height: 80px; width: 80px" class="logo-size" src="assets/img/service_logo/1168654.svg">
      <h1 class="text-center">{{vision.title}}</h1>
      <p class="about" style="text-align: justify">{{vision.description}}</p>
    </div>
  </div><br><br>

</div>