<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MascoClinica</title>
	<link rel="shortcut icon" href="img/myfavico_20150709113452.ico">
	<link rel="canonical" href="https://jmbl1685.github.io/mascoclinica/">
	<meta name="robots" content="ALL">
	<meta name="author" content="Juan Manuel Batty Linero">
	<link rel="author" href="https://twitter.com/jmbl1685/">

	<meta name="description" content="MascoClinica">
	<meta http-equiv="content-language" content="en-us">
	<meta property="og:locale" content="en_us">
	<meta property="og:title" content="MascoClinica">
	<meta property="og:url" content="https://jmbl1685.github.io/mascoclinica/">
	<meta property="og:site_name" content="MascoClinica">
	<meta property="og:type" content="website">

	<meta property="og:description" content="Veterinaria MascoClinica.">
	<meta property="og:image" content="https://pbs.twimg.com/profile_images/1042133860312666113/g3IwLAYG_400x400.jpg">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@jmbl1685">
	<meta name="twitter:creator" content="@jmbl1685">
	<meta name="twitter:url" content="https://twitter.com/jmbl1685/">
	<meta name="twitter:title" content="MascoClinica">
	<meta name="twitter:description" content="Veterinaria MascoClinica">
	<meta name="twitter:image:src" content="https://pbs.twimg.com/profile_images/1042133860312666113/g3IwLAYG_400x400.jpg">

	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	 rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/aos.css" />
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</head>

<body ng-app="myApp" ng-controller="DefaultController">

	<img onclick="NavBarHandle()" class="hvr-pulse-grow" src="img/service_logo/menu_btn.svg" height="70" width="70" id="btn-navbar-responsive">

	<img onclick="ScrollUp()" class="hvr-pulse-grow" src="img/service_logo/up.svg" height="70" width="70" id="btn-up"
	 style="display: none; transition: 1s">

	<div>

		<div class="home center">

			<div class="animated fadeInRight" id="navbar" style="background:#02111A; min-height: 100%; position: fixed; display: none; right: 0; width: 250px; z-index: 1; color: white">
				<div class="center-nav">
					<h3 onclick="ScrollAnimation(event)" id="{{opt.classname}}" ng-repeat="opt in options" class="item-nav">{{opt.name}}</h3>
				</div>
			</div>


			<img src="img/logoHD.png" style="height: 150px; width: 180px; margin: 13%; left: 0; position: absolute; margin-top: -230px">

			<div>
				<h1 class="yellow-text black-margin">{{title.part1}}<b style="color: #34BF49">{{title.part2}}</b>{{title.part3}}</h1>
				<p class="gray-margin" style="color: white; font-size: 30px; margin-top: -40px; font-weight: bold">{{description}}</p>
			</div>

		</div>


		<video autoplay loop muted plays-inline id="video-background" poster="img/wallpaper.jpg">
			<source src="video/video.mp4" type="video/mp4">
		</video>

		<!-- Prueba jaja. NOTA: Tengo que cambiarlo por un margin-top... -->
	</div><br><br><br><br><br><br><br>

	<div class="container" ng-controller="ServiceController">
		<div class="row">

			<div class="col-12">
				<h1 class="text-center">{{title}}</h1>
			</div>

			<div ng-repeat="service in services" class="services col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center"><br>
				<img style="height: 80px; width: 80px" class="logo-size" ng-src="{{service.logo}}">
				<h3>{{service.serviceTitle}}</h3>
				<p style="text-align: justify">{{service.description}}</p>
			</div>

		</div>
	</div><br><br>

	<div class="container" ng-controller="AboutController">

		<div class="row">
			<div class="col-sm-12 col-md-12   col-lg-6 col-xl-6">
				<h1 class="text-center">{{title}}</h1>
				<p class="about" style="text-align: justify">{{description}}</p>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
				<img style="height: 100%; width: 100%" src="img/about.png">
			</div>

		</div><br><br>

		<div class="row">
			<div class="col-sm-12 col-md-12   col-lg-6 col-xl-6">
				<h1 class="text-center">{{mision.title}}</h1>
				<p class="about" style="text-align: justify">{{mision.description}}</p>
			</div>
			<div class="col-sm-12 col-md-12   col-lg-6 col-xl-6">
				<h1 class="text-center">{{vision.title}}</h1>
				<p class="about" style="text-align: justify">{{vision.description}}</p>
			</div>
		</div><br><br>


	</div>

	<div class="center" id="presentation-div" ng-style="{'background-image': 'url(https://www.petsbureau.co.uk/wp-content/uploads/2017/03/barking-feature1.png)', 'height': '300px'}">

		<div class="container" style="color: #FEFEFE">
			<h1 class="black-margin">La mirada de tu mascota es el mejor espejo donde puedes comprobar la grandeza de tu
				alma.</h1>
		</div>

	</div><br><br>

	<div class="container" ng-controller="DefaultController">
		<div class="row">

			<div class="col-12">
				<h1 class="text-center">GALERÍA</h1>
			</div>


			<!-- <div id="lightgallery" class="row" style="margin: 0 auto; width: 50vw ">

        <a ng-repeat="image in gallery" class="gallery col-sm-12 col-md-6 col-lg-4 col-xl-4" ng-href="{{image.name_img}}">
          <img class="m-20" ng-src="{{image.name_img}}" style="height: 200px; width: 200px; background-position: center; background-repeat: no-repeat; background-size: cover; border: 1px solid #BDC2C3;" />
        </a>

      </div><br> -->

		</div>


		<div>

			<!-- <div id="lightgallery" class="wrap">

        <a ng-repeat="image in gallery" class="gallery box" ng-href="{{image.name_img}}">
          <img class="boxInner" ng-src="{{image.name_img}}" />
        </a>

      </div> -->


		</div>

		<!-- <div class="container" ng-controller="DefaultController">
      <div class="row">

        <div class="col-12">
          <h1 class="text-center">MASCOTA DEL MES</h1>
        </div>

        <div style="margin: 0 auto;">
          <img src="img/pets_month/pets_month.jpg" style="height: 300px; width: 300px; border: 3px solid #40596B">
          <img src="https://image.flaticon.com/icons/svg/610/610333.svg" style="height: 80px; width: 80px; position: absolute; margin-top: -50px; margin-left: auto; margin-right: auto; left: 0; right: 0;">
          <h2 class="text-center " style="color: #FFD15C">Sophie</h2>
        </div>

      </div>
    </div> -->

		<div class="container" ng-controller="ContactController">
			<div class="contact row">

				<div class="col-12">
					<h1 class="text-center">{{title}}</h1>
				</div>

				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<form action="#" method="post" name="sentMessage" id="contactForm" novalidate="">
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Nombre</label>
								<input type="text" class="input-txt" name="name" id="name">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Apellidos</label>
								<input type="tel" class="input-txt" name="phone" id="phone">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Télefono</label>
								<input type="email" class="input-txt" name="email" id="email">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Celular</label>
								<input type="text" class="input-txt" name="phone" id="phone">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Correo Electrónico</label>
								<input type="email" class="input-txt" name="email" id="email">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Asunto</label>
								<input type="text" class="input-txt" name="issue" id="issue">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<label class="label-txt">Comentarios</label>
								<textarea type="text" class="input-txt" name="comment" id="comment"></textarea>
								<p class="help-block"></p>
							</div>
						</div>

						<div style="text-align: center" class="g-recaptcha" id="recaptcha" name="recaptcha" data-sitekey="6LcfMXcUAAAAAH3i2wZPdSogEmD8cxh1lbQa80dh"></div><br />

						<button type="submit" class="send-btn">Send</button>

					</form>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<h2><i class="fas fa-map-marker-alt"></i> Dirección:</h2>
					<p>{{information.address}}</p>
					<h2><i class="fas fa-envelope"></i> Correo Electrónico:</h2>
					<p>{{information.email}}</p>
					<h2><i class="fas fa-phone"></i> Teléfono:</h2>
					<p>{{information.telephone}}</p>
					<h2><i class="fas fa-mobile"></i> Celular:</h2>
					<p>{{information.phone}}</p>
				</div>
			</div>
		</div><br><br>
	</div>


	<footer id="footer-page">
		<div class="text-center">
			<h4>{{creator}}</h4>
		</div>
	</footer><br><br>

	<script src='//www.google.com/recaptcha/api.js'></script>
	<script type="text/javascript" src="js/lightgallery.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/aos.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>

</html>