<div class="menu-btn" onclick="toggleMenu()">
  <div class="btn-line"></div>
  <div class="btn-line"></div>
  <div class="btn-line"></div>
</div>

<img onclick="ScrollUp()" class="hvr-pulse-grow" src="assets/img/service_logo/up.svg" height="70" width="70" id="btn-up"
  style="display: none; transition: 1s">


<div>

  <div class="home center">

    <div class="animated fadeInRight" id="navbar" style="background:#02111A; min-height: 100%; position: fixed; display: none; right: 0; width: 250px; z-index: 1; color: white">
      <div class="center-nav">
        <h3 onclick="ScrollAnimation(event)" id="{{opt.classname}}" *ngFor="let opt of menuOptions" class="item-nav">{{opt.name}}</h3>
      </div>
    </div>


    <img id="mc_logo" src="assets/img/logoHD.png">

    <div>
      <h1 class="mc_title yellow-text black-margin">Equipo de alta <b style="color: #34BF49">experiencia</b> profesional</h1>
      <p class="mc_description gray-margin" style="color: white; font-size: 30px; margin-top: -40px; font-weight: bold">Dispuestos
        a atender a su mascota como se merece.</p>
    </div>

  </div>

  <video autoplay loop muted plays-inline id="video-background" >
    <source src="https://res.cloudinary.com/batty/video/upload/v1542584107/cdn/video.mp4" type="video/mp4">
  </video>

</div>

<app-service></app-service>
<app-about></app-about>
<app-gallery></app-gallery>
<app-contact></app-contact>
<app-footer></app-footer>