*{
  font-family: 'Poppins', sans-serif;
}

.menu-btn {
  margin-top: 1px;
  margin-right: -10px;
  position: fixed;
  z-index: 99;
  right: 35px;
  top: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 39px;
    height: 8px;
    margin: 0 0 5px 0;
    background: #FFF02E;
    border-radius: 10px;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      margin: 0 0 -5px 0;
      transform: rotate(45deg);
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }
    .menu-btn.close .btn-line:nth-child(4) {
      transform: rotate(45deg);
      opacity: 0; }


.none{
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-size: 100%;
  color: #3E3E3E;
}

.fs-13{
  font-size: 13px;
}

.text-center{
  text-align: center;
}

#presentation-div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
}

.m-20{
  margin: 20px !important;
}

.label-txt{
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

.input-txt{
  font-size: 15px;
  height: 40px;
  width: 100%;
  border: 1px solid #DDDDDD;
  outline: none;
}

input {
  padding: 12px 20px;
  box-sizing: border-box;
}

.send-btn{
  height: 50px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #34BF49;
  color: white;
  font-size: 20px;
}

.textarea{
  height: 200px;
  padding: 19px;
  resize: none;
}

#mc_logo{
  height: 150px; 
  width: 180px; 
  margin: 13%; 
  left: 0; 
  position: absolute; 
  margin-top: -230px;
}

input[type="submit"]:disabled {
  opacity: 0.4
}

.validation-ms{
  color: red;
  font-size: 11.5px;
}

#video-background {
  margin-top: -100vh;
  z-index: -99;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.service-container{
  margin-top: 20vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.yellow-text {
  font-size: 50px;
  color: #FFF02E;
}

.center-nav{
  margin-top: 35vh;
}

.black-margin{
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}


.gray-margin{
  text-shadow:
  -1px -1px 0 #484848,
  1px -2px 0 #484848,
  -1px 2px 0 #484848,
  1px 2px 0 #484848; 
}

body::-webkit-scrollbar{
  width: 5px;
  background: #011925;
}

body::-webkit-scrollbar-thumb{
  background: #34BF49;
  border-radius: 5px;
}

#btn-navbar-responsive {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btn-up {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.item-nav{
  color: #FFF02E;
  cursor: pointer;
  transition: 0.5s;
}

.item-nav:hover{
  color: #34BF49;
}

#footer-page{
  background-color: #2C3E50;
  position: absolute;
  color: #fff;
  width: 100%;
}

.gallery{
  z-index: 1
}

#navbar{
  z-index: 98 !important;
}

.success {
  color: #34BF49;
}

.error {
  color: #D82B21;
}

/* Responsive Video Background */

@media only screen and (max-width: 850px){

  .mc_title{
    font-size: 5vh;
    letter-spacing: 0ch;
  }

  .mc_description{
    margin-top: 0.2px !important;
    font-size: 3vh !important
  }

  .copyright{
    margin-left: 5px;
    margin-right: 5px;
  }

  .service-container{
    margin-top: 8vh;
  }

  #mc_logo{
    height: 150px; 
    width: 180px; 
    margin: 0 auto; 
    left: 0; 
    right: 0;
    position: absolute; 
    margin-top: -180px;
  }

}

@media only screen and (max-width: 386px){

  .mc_title{
    margin-top: 20%;
  }

}

/* Animations */

.animated{
  animation-duration:0.6s;
  animation-fill-mode:both
}

@keyframes fadeInRight{
  from{
      opacity:0;
      transform:translate3d(100%,0,0)
  }
  to{
      opacity:1;
      transform:none
  }
}

@keyframes fadeOutRight{
  from{
      opacity:1
  }
  to{
      opacity:0;
      transform:translate3d(100%,0,0)
  }
}

.fadeInRight{
  animation-name:fadeInRight;
  transition: 0s;
}

.fadeOutRight{
  animation-name:fadeOutRight;
  transition: 0s;
}