.about-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-msg {
  color: #fefefe;
}

#presentation-div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  background-image: url('../../assets/img/barking-feature.png');
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.a-fluit {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #34bf49;
  color: #ffffff;
}
